/* .jumb-yellow
    .jumbotron{
        background-color:rgb(19, 112, 151) !important; 
    }

.jumb-grey
    .jumbotron{
        background-color:rgb(227, 231, 233) !important; 
    }

.jumbotron{
        background-color:rgb(227, 231, 233) !important; 
    } */